WebGL/WebGL/Connected Services/WcfGLs/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfGL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfGL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonne">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Personne" nillable="true" type="tns:Personne" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonne" nillable="true" type="tns:ArrayOfPersonne" />
  <xs:complexType name="Personne">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdressePersonne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateNaissancePersonne" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailPersonne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPersonne" type="xs:int" />
      <xs:element minOccurs="0" name="NomPrenomPersonne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelPersonne" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personne" nillable="true" type="tns:Personne" />
</xs:schema>